[submodule "iceberg-git"]
	path = iceberg-git
	url = ssh+git://aur@aur.archlinux.org/iceberg-git.git
[submodule "gazebo-model-quadrotor"]
	path = gazebo-model-quadrotor
	url = ssh+git://aur@aur.archlinux.org/gazebo-model-quadrotor.git
[submodule "gazebo-sitl-git"]
	path = gazebo-sitl-git
	url = ssh+git://aur@aur.archlinux.org/gazebo-sitl-git.git
[submodule "python-defcon-git"]
	path = python-defcon-git
	url = ssh+git://aur@aur.archlinux.org/python-defcon-git.git
[submodule "python-robofab-git"]
	path = python-robofab-git
	url = ssh+git://aur@aur.archlinux.org/python-robofab-git.git
[submodule "qgroundcontrol"]
	path = qgroundcontrol
	url = ssh+git://aur@aur.archlinux.org/qgroundcontrol.git
[submodule "qgroundcontrol-git"]
	path = qgroundcontrol-git
	url = ssh+git://aur@aur.archlinux.org/qgroundcontrol-git.git
[submodule "redsocks-git"]
	path = redsocks-git
	url = ssh+git://aur@aur.archlinux.org/redsocks-git.git
[submodule "soletta"]
	path = soletta
	url = ssh+git://aur@aur.archlinux.org/soletta.git
[submodule "soletta-git"]
	path = soletta-git
	url = ssh+git://aur@aur.archlinux.org/soletta-git.git
[submodule "trufont-git"]
	path = trufont-git
	url = ssh+git://aur@aur.archlinux.org/trufont-git.git
[submodule "icu54"]
	path = icu54
	url = ssh+git://aur@aur.archlinux.org/icu54.git
[submodule "python-gantt"]
	path = python-gantt
	url = ssh+git://aur@aur.archlinux.org/python-gantt.git
[submodule "python-gantt-hg"]
	path = python-gantt-hg
	url = ssh+git://aur@aur.archlinux.org/python-gantt-hg.git
